@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color:black !important;
}

.navbar-brand{
  color:black;
}


/* .navbar-custom {
  height:250px;
  background-image: url('C:\Users\Sneha Singhal\Desktop\pizza\client\src\components\pizza1.jpg');         
  background-size: cover; /* Adjusts to cover the entire navbar 
  background-position: center; /* Centers the image 
  background-repeat: no-repeat;
} */

h1{
  font-size: 20px !important;
}
.flex-container{
  display:flex !important;
}
.btn{
  background-color: red !important;
  color:white !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}

/* cartscreen css */

.fa-plus{
  color:green;
  margin:5px;
}

.fa-minus{
  color:red;
  margin:5px;
}

.fa-trash{
  color:red;
  margin:5px;
}

/* register screen css */
input{
  margin-top:10px !important;
  box-shadow:none !important;
}